<div class="content-header">
    <!-- Hamburger Icon -->
    <i class="bi bi-list" id="hamburger-icon" onclick="openSideNavbar()"></i>
    <a href="/" class="logo">
        <strong>CSV</strong>
        <span>Upload</span>
    </a>
    <!-- User- Image- Icon -->
    <img class="user-img-icon" src="/assets/images/man(1).png" alt="">
</div>

<div class="side-navbar">
    <!-- Nav List -->
    <ul class="nav-list">
        <li class="nav-list-items">
            <a href="/" style="text-decoration: none;">
                <i class="bi bi-filetype-csv"></i>
                My Files
            </a>
        </li>
        <li class="nav-list-items">
            <i class="bi bi-clock"></i>
            Recent
        </li>
        <li class="nav-list-items">
            <i class="bi bi-star"></i>
            Favourite
        </li>
        <li class="nav-list-items">
            <i class="bi bi-trash3"></i>
            Recycle Bin 
        </li>
        <li class="nav-list-items">
            <i class="bi bi-gear"></i>
            Settings
        </li>
    </ul>
</div>

<!-- dark-Background -->
<div class="dark-bg"></div>

<div class="user-section">
    <div class="account-details">
        <!-- User Image -->
        <img src="/assets/images/man(1).png" alt="" class="user-img">
        <h3 class="user-name">Kamalpreet Kaur</h3>
    </div>

    <div class="storage-container">
        <h3>Storage Used</h3>
        <div class="storage-bar">
            <div class="used-storage"></div>
        </div>
        <span>0.2GB of 10GB</span>

        
    </div>
    
     <!-- Sign Out -->
    <a href="#" class="sign-out">
        <i class="bi bi-box-arrow-left"></i>
        Sign Out
    </a>
</div>
